h3, .caption {
    font-family: 'Tangerine', cursive;
}
body, .navbar {
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-color: #024BB1;
    color: #F4EAE3;
    margin: auto;
    padding: 0;
    text-align: center;
}
.jumbotron h3{
    font-size: 2rem;
    margin-top: 0rem;
    font-style: italic;
    margin-bottom: 0;
    }

@media screen and (min-width: 768px) {
    .jumbotron h1, .navbar {
        font-size: 3rem;
        }
    .jumbotron h3{
        font-size: 3rem;
        margin-top: 0.8rem;
        font-style: italic;
        margin-bottom: 0;
        }
}
@media screen and (min-width: 1200px) {
    .jumbotron h1 {
        font-size: 4rem;
        }
    .jumbotron h3{
        font-size: 4rem;
        margin-top: 0.8rem;
        font-style: italic;
        margin-bottom: 0;
        }
    }
.navbar {
    background-color: #ce008e;
    font-size: 1rem;
    
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    width: 400px;
}
img {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    width: 280px;
    height: 280px;
}
.caption {
    display: block;
    width: 400px;
    background-color: rgba(0,0,0,0);
    color: #ffed66;
}