h3, .caption {
    font-family: 'Tangerine', cursive;
}
body, .navbar, .media-body h3 {
    font-family: 'Lato', sans-serif;
}

.jumbotron {
    background-color: #024BB1;
    color: #F4EAE3;
    margin: 0;
    padding: 0;
    text-align: center;
}
.jumbotron h3 {
    font-size: 2rem;
    margin-top: 0rem;
    font-style: italic;
    margin-bottom: 0;
    }
@media screen and (min-width: 50px) {


    #price, .card-header a {
    margin-left: 1rem;
    font-family: 'Tangerine', cursive;
    font-size: 1.5rem;
    }
    #course {
    margin-left: 1rem;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    } 

    .media-heading, #address {
    margin-left: 1rem;
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
    }
    #txtmenu, .card-body, #addresstxt {
    font-family: 'Lato', sans-serif; 
    margin-left: 1rem;
    }
    #menu {
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    } 
    #imgmenu {
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 10px;
        } 

    #imgabout {
        max-width: 300px;
        max-height: 300px;
        margin-top: 5%;
        margin-bottom: 5%;
        }

    #imghome {
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        } 
    .caption {
        display: block;
        width: 200px;
        background-color: rgba(0,0,0,0);
        color: #ffed66;
        }
    div.item {
        vertical-align: top;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        width: 200px;
        margin-top: 25px;
        margin-bottom: 25px;
        align-self: center;
        }
    iframe {
        height: 150px;  
        width: 300px;
    }   
}

@media screen and (min-width: 767px) {

    #price, .card-header a {
        margin-left: 1rem;
        font-family: 'Tangerine', cursive;
        font-size: 2rem;
        }
    #course {
        margin-left: 1rem;
        font-family: 'Tangerine', cursive;
        font-size: 5rem;
        } 
    
    .media-heading, #address {
            margin-left: 1rem;
        font-family: 'Tangerine', cursive;
        font-size: 3rem;
        }
     #txtmenu, .card-body, #addresstxt {
            font-family: 'Lato', sans-serif; 
        margin-left: 1rem;
        font-size: 1rem;
        }
    #menu {
        width: 130px;
        height: 130px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        } 
    #imgmenu {
            width: 300px;
            height: 300px;
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 10px;
            } 
    .jumbotron h1, .navbar {
        font-size: 3rem;
        }
    .jumbotron h3{
        font-size: 3rem;
        margin-top: 0.8rem;
        font-style: italic;
        margin-bottom: 0;
        } 
        
    #imghome {
        width: 180px;
        height: 180px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        }
    .caption {
        display: block;
        width: 200px;
        background-color: rgba(0,0,0,0);
        color: #ffed66;
        }
    div.item {
        vertical-align: top;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        width: 200px;
        margin-top: 80px;
        margin-bottom: 80px;
        }
    .navbar {
            font-size: 1.5rem;
        }
    .media img {
            max-width: 100%;
            height: auto;
        }
    iframe {
        height: 300px;  
        width: 600px;
        }
}

@media screen and (min-width: 1200px) {

    #price, .card-header a {
        margin-left: 1rem;
        font-family: 'Tangerine', cursive;
        font-size: 2.5rem;
        }
    #course {
        margin-left: 1rem;
        font-family: 'Tangerine', cursive;
        font-size: 5rem;
        } 
    
    .media-heading, #address {
            margin-left: 1rem;
        font-family: 'Tangerine', cursive;
        font-size: 4rem;
        }
        #txtmenu, .card-body, #addresstxt {
            font-family: 'Lato', sans-serif; 
        margin-left: 1rem;
        font-size: 1.5rem;
        }
    #menu {
        width: 130px;
        height: 130px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        } 
    #imgmenu {
            width: 400px;
            height: 400px;
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 10px;
            } 
    .jumbotron h1 {
        font-size: 4rem;
        }
    .jumbotron h3{
        font-size: 4rem;
        margin-top: 0.8rem;
        font-style: italic;
        margin-bottom: 0;
        }
    #imghome {
        width: 380px;
        height: 380px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        }
    .caption {
        display: block;
        width: 400px;
        background-color: rgba(0,0,0,0);
        color: #ffed66;
        }
    div.item {
        vertical-align: top;
        text-align: center;
        background-color: rgba(0,0,0,0.7);
        width: 400px;
        margin-top: 200px;
        }
    footer {
        font-size: 1rem;
        }
    .nav-link {
        font-size: 1.5rem;
        }
    iframe {
        height: 400px;  
        width: 800px;
        }
}       
.navbar {
    background-color: #ce008e;
    font-size: 1rem;
    
}
footer {
    background-color: #ffed66;
    opacity: 0.8;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 10vh 0 10vh #000;
}

.d-flex img {
    max-width:100%;
    height: auto;
    
}
.d-flex {
    align-items: center;
}
#container1 {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.7);
    color: #f4eae3;
    padding-top: 5%;
    padding-bottom: 10%;
}
.col-12 h3 {
    margin-top: 2%;

}
.col-12 p {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.accordion, .card {
    background-color: rgba(0,0,0,0.4);
    color: #f4eae3;
    margin-left: 5%;
    margin-right: 5%;
}
.card-header {
    color: #f4eae3;
    background-color: #ce008e;

}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ce008e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
       }

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ce008e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  .pricingTable{
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 30px 30px 70px;
    margin-bottom: 10%;
    margin-top: 18%;
    border-radius: 30px;
    box-shadow: 0 0 15px -8px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.pricingTable:after{
    background-color: #FE5F85;
    height: 300px;
    width: 300px;
    top: auto;
    bottom: -210px;
    right: auto;
    left: -160px;
}
.pricingTable .title{
    color: #ffed66;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 20px;
}
.pricingTable .title:before{
    content: "";
    background-color: #1A2A3A;
    width: 65px;
    height: 3px;
    margin: 0 auto 20px;
    display: block;
    clear: both;
}
.pricingTable .price-value{
    color: #fff;
    background-color: #ce008e;
    width: 160px;
    height: 160px;
    padding: 57px 0 0;
    margin: 0 auto 25px;
    border-radius: 50%;
}
.pricingTable .price-value .currency{
    font-size: 35px;
    font-weight: 300;
    line-height: 35px;
    vertical-align: top;
    display: inline-block;
}
.pricingTable .price-value .amount{
    font-size: 58px;
    font-weight: 700;
    line-height: 45px;
    display: inline-block;
}
.pricingTable .price-value .duration{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 0 -5px;
    display: inline-block;
}
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 25px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #f4eae3;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 20px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "\f00c";
    color: #fff;
    background-color: #ce008e;
    font-size: 13px;
    font-weight: 900;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    background-color: #ce008e;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    width: 140px;
    padding: 3px 10px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid transparent;
    display: block;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricingTable-signup a:hover{
    color: #F4EAE3;
    background-color: transparent;
    border-color: #ce008e;
}

@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}
iframe {
    margin-left:auto;
    margin-right:auto;
    display: block;
   }
#map {
    display: block;
    padding: 5%;
    background-color: rgba(0,0,0,0.5);
}
#address, #addresstxt {
    text-align: center;
    color: #f4f4f4;
}
a[href^="tel"] {
    color: inherit; 
  }
a[href^="mail"] {
    color: inherit; 
  }

  .form-container{
    text-align: center;
    padding: 40px 40px 0 0;
}
.form-container .form-icon{
    color: #f4eae3;
    background-color: #f4eae3;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50% 50% 50% 0;
    box-shadow: 0 0 20px rgba(0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.form-container .form-horizontal{
    background-color: #e7e7e7;
    padding: 40px 20px 20px;
    box-shadow: 0 0 20px -5px rgba(0,0,0,0.3);
    border-radius: 15px;
}
.form-container .title, .form-icon{
    color: #ce008e;
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 20px;
    font-family: 'Tangerine', cursive;

}
.form-horizontal .form-group{
    background-color: rgba(255,255,255,0.15);
    margin: 0 0 15px;
}
.form-horizontal .input-icon{
    color: #ce008e;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    width: 30px;
    margin: 0 0 0 4px;
    vertical-align: top;
    display: inline-block;
}
.form-horizontal .form-control{
    font-family: 'Lato', sans-serif;
    color: #F4EAE3;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    width: calc(100% - 40px);
    height: 33px;
    padding: 3px 10px 0 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}
.form-horizontal textarea.form-control{
    height: auto;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}
.form-horizontal .form-control::placeholder{
    color: #ce008e;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Tangerine', cursive;

}
.form-horizontal .btn{
    font-family: 'Tangerine', cursive;
    color: #F4EAE3;
    background-color: #ce008e;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px 7px 20px;
    margin: 0 auto;
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.form-horizontal .btn:hover,
.form-horizontal .btn:focus{
    color: #E6145E;
    background-color: #fff;
    border: 2px solid #E6145E;
}
.form-horizontal .btn i{ transition: all 0.3s ease 0s; }
.form-horizontal .btn:hover i{
    color: #E6145E;
    transform: translateX(3px);
}